body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 30px;
  background: rgb(250, 249, 249);
}

body:hover {
  cursor: grab;
}

.playerRed,
.playerBlack {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  margin: 5px;
}

.playerRed {
  background: red;
  color: red;
}

.playerBlack {
  background: black;
}

.columns {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.stand1,
.stand2 {
  height: 440px;
  width: 20px;
  background: blue;
}

.stand1 {
  border-top-left-radius: 15px;
}

.stand2 {
  border-top-right-radius: 15px;
}

.column1,
.column2,
.column3,
.column4,
.column5,
.column6,
.column7 {
  height: 360px;
  width: 60px;
  background-image: url(src/connect4column.png);
  border-bottom: blue 5px solid;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
}

.column1:active,
.column2:active,
.column3:active,
.column4:active,
.column5:active,
.column6:active,
.column7:active {
  cursor: grabbing;
}

#resetButton {
  width: 50px;
  height: 20px;
  background: blue;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  position: relative;
  top: -89px;
  color: white;
}

#muteButton {
  position: relative;
  top: -89px;
}
